body {
    margin: 0;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .container {
    width: 1100px;
    margin: 0 auto;
  }